<span class="Title"></span>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select [(value)]="selectVal" (selectionChange)="onTicketChange()">
      <mat-option [value]="option" *ngFor="let option of tickets">{{option.name}}</mat-option>
    </mat-select>
  </mat-form-field>
<button mat-raised-button (click)="checkValue()">{{testvar}}</button>


<div *ngFor="let Ticket of tickets">
  <div>{{Ticket.name}}</div>
  <div>{{Ticket.CHR}}</div>
  <div>{{Ticket.inhalt}}</div>
</div>